<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pallas Cinema Galway</ion-title>
   
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div>
    <h3>Pallas Cinema Galway </h3>
    <!--opens link for cinema times-->
    <ion-button (click)="openBrowser()">CINEMA TIMES</ion-button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
