<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Butch Cassidy and the sundance kid</ion-title>
    
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium" color="yellow">Butch Cassidy and the sundance kid</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Butch Cassidy and the sundance kid</h3>
  <p>Butch Cassidy and the Sundance Kid is a 1969 Western film directed by George Roy Hill, 
    starring Paul Newman as Butch Cassidy and Robert Redford as the Sundance Kid.
    The film is loosely based on the true story of the legendary outlaws Butch Cassidy and the Sundance Kid. 
    It follows the exploits of the charismatic duo as they lead the Hole-in-the-Wall Gang on a series of 
    bank robberies and train heists in the American West during the late 19th century. As the law closes in on them, 
    Butch and Sundance flee to Bolivia with Sundance's lover, Etta Place, where they continue their life of crime.</p>
   <li [routerLink]="['/butchinfo']" color="orange">Butch cassidy and the sundance kid more info and facts</li><br>
    <ion-img src="https://m.media-amazon.com/images/M/MV5BMTkyMTM2NDk5Nl5BMl5BanBnXkFtZTgwNzY1NzEyMDE@._V1_.jpg"></ion-img>
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
