<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Excalibur information</ion-title>
    
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://64.media.tumblr.com/debc9b3e040abce1f9221a3cfa869aac/f5707e342d4ca745-a8/s400x600/d30c5113a29047f17293f0b8383cc5fdef02b8a5.gif"></ion-img>
  <p>Excalibur is a retelling of the legend of King Arthur and the Knights of the Round Table, based on Thomas Malory's 
    15th-century work, "Le Morte d'Arthur." The film begins with the young Arthur, who pulls the sword Excalibur from a stone, 
    proving himself to be the rightful king of England. With the guidance of the wizard Merlin, Arthur establishes his kingdom 
    and forms the Knights of the Round Table. The film follows Arthur's rise to power, the betrayal by his wife Guinevere and 
    his best knight Lancelot, and his ultimate downfall in the battle against his son Mordred.
    Excalibur explores themes of destiny, honor, betrayal, and the quest for power. It depicts the mythical world of Camelot 
    as a place of both beauty and darkness, where noble ideals clash with human flaws and ambition.
    
    <ion-img src = "https://ansionnachfionn.files.wordpress.com/2011/05/excalibur-by-john-boorman.jpg"></ion-img>
   </p>The film features a talented ensemble cast, including Nigel Terry as King Arthur, Helen Mirren as Morgana Le Fay, 
       Nicol Williamson as Merlin, and Nicholas Clay as Lancelot. The performances are compelling, capturing the complexity of 
       the characters and their relationships.
       Excalibur is considered one of the definitive cinematic adaptations of the Arthurian legend. It received mixed reviews 
       upon its initial release but has since gained a cult following for its ambitious scope, lush visuals, 
       and powerful storytelling. The film's influence can be seen in subsequent fantasy films and television series, 
       and it remains a beloved classic for fans of the genre.
  
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
