<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Brazil information and facts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-img tag image via link-->
  <ion-img src="https://miro.medium.com/v2/resize:fit:952/1*rZUOWi1zMLXCHxNZE5IY5w.png"></ion-img>
  <p>The story follows Sam Lowry, a low-level government employee who dreams of a more adventurous and romantic life. 
    Sam becomes embroiled in a series of events after he encounters the woman of his dreams, Jill Layton, 
    who closely resembles a woman from his recurring dreams. His pursuit of Jill leads him to uncover a 
    case of mistaken identity involving a suspected terrorist named Harry Tuttle, who is mistakenly arrested and 
    killed by the government. Brazil initially faced challenges during its release, including disputes with the studio over 
    its length and tone. 
    However, it has since gained a cult following and is regarded as one of Gilliam's masterpieces. The film's themes, 
    visual style, and dark humor have earned it praise from critics and audiences alike, 
    cementing its status as a cult classic of dystopian cinema.
    <ion-img src="https://static1.squarespace.com/static/574dee333c44d82a049dbc44/t/574e40ed3c44d8d2194f935c/1464746230031/?format=1500w"></ion-img>
   </p> Brazil explores themes such as the dehumanizing effects of bureaucracy, the loss of individuality in a totalitarian society, 
   and the power of imagination and escapism in the face of oppression. It satirizes government inefficiency, consumerism, 
   and the surveillance state, offering a darkly humorous critique of contemporary society.

   The film is known for its surreal and visually stunning imagery, blending retro-futuristic aesthetics with Gilliam's signature 
   style of fantastical storytelling. The sets and costumes evoke a retro-futuristic world filled with absurd and grotesque elements, 
   juxtaposed with moments of whimsy and dark humor.
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
