<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blade Runner Info</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://www.cnet.com/a/img/resize/55a96beecc53be3c20c084346fc3d7f5911dfa37/hub/2017/09/29/5aa973df-4e51-473f-b86f-88d103a93481/getty-blade-runner-1982-spinner-building.jpg?auto=webp&fit=crop&height=675&width=1200"></ion-img>
  <p size = "small">
    
    Over the years, several versions of "Blade Runner" have been released, including the original theatrical release, 
    the Director's Cut, and the Final Cut. Each version has subtle differences in editing, special effects, and even the ending, 
    leading to debates among fans about which version is the definitive one. The film's score, composed by Vangelis, 
    is considered one of the greatest film soundtracks of all time. The haunting, 
    atmospheric music perfectly complements the film's noir atmosphere and has become synonymous with the cyberpunk genre.

    
   <ion-img src="https://media.newyorker.com/photos/5e70fb6425cee1000833da26/master/pass/ra721.jpg"></ion-img>

   </p>Blade Runner" is renowned for its groundbreaking visual effects and cinematography, creating a dystopian, 
    futuristic world filled with towering skyscrapers, neon lights, and perpetual rain. The film's visual style, 
    influenced by film noir and dystopian literature, has had a significant impact on subsequent science fiction films and 
    cyberpunk aesthetics. Blade Runner" explores profound philosophical questions about the nature of humanity, 
    consciousness, and identity. The film raises questions about what it means to be human and whether artificial beings, 
    such as the replicants in the story, can possess emotions and empathy.
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
