<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Brazil</ion-title>
   
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Brazil</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Brazil</h3>
  
  <p>Brazil is a darkly comedic dystopian science fiction film directed by Terry Gilliam, released in 1985. Here's an overview of the movie:
    Setting: The film is set in a bleak, bureaucratic dystopia reminiscent of George Orwell's "1984." 
    It presents a society dominated by an oppressive government where individuality is suppressed, 
    and bureaucratic incompetence runs rampant.</p>
    
    <p>Click here for a more info on brazil the movie</p>
   <li [routerLink]="['/brazilinfo']" color="orange">brazil info</li><br>
    <ion-img src="https://upload.wikimedia.org/wikipedia/fr/thumb/7/76/Brazil_%28film%2C_1985%29_Logo.svg/1200px-Brazil_%28film%2C_1985%29_Logo.svg.png"></ion-img>

    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
