<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Project Summary</ion-title>
    
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Project Summary</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <h1></h1>
  <p>Basic implementation of a movie site/app. Uses radio buttons an api to get movie details and browser function to display pallas
    cinema site.
  </p>
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
