<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>The history of Samsung</ion-title>
   
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-img src="https://cdn.britannica.com/72/176472-050-3704BB83/Paul-Newman-Katharine-Ross-Butch-Cassidy-and.jpg"></ion-img>
  <p>Butch Cassidy and the Sundance Kid explores themes of friendship, loyalty, 
    and the end of the Wild West era. It portrays Butch and Sundance as charming anti-heroes who 
    capture the imagination of the audience despite their criminal activities.
    The film is known for its stylish direction, witty dialogue, and iconic cinematography. 
    It incorporates elements of comedy, drama, and action, blending traditional Western tropes with a modern sensibility.
    
  </p>The film's soundtrack, composed by Burt Bacharach, features the popular song "Raindrops Keep Fallin' on My Head," 
      performed by B.J. Thomas. The song became a major hit and is closely associated with the film.
      Butch Cassidy and the Sundance Kid" was a critical and commercial success, winning four Academy Awards, 
      including Best Original Screenplay. It solidified the on-screen partnership between Newman and Redford, 
      who would later reunite for "The Sting" in 1973. The film remains a beloved classic of the Western genre and is 
      celebrated for its iconic performances and memorable moments.
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
